<nav class="homeContainer">
    <form class="homeContainer__form" method="get" action="/word">
        <h2>Words</h2>
        <button type="submit">
            <img src="/images/scrabble.png" alt="">
        </button>
    </form>
    <form class="homeContainer__form" method="get" action="/idiom">
        <h2>Idioms</h2>
        <button type="submit">
            <img src="/images/writing.png" alt="">
        </button>
    </form>
</nav>

<div class="activityChoiceDiv">
    <div class="choicePlay">
        <form action="/play" method="get">
            <button type="submit" class="playButton">
                <img src="/images/play.png" alt="" height="100px" width="100px">
            </button>
        </form>
    </div>

    <div class="flashcardPlay">
        <form action="/flash" method="get">
            <button type="submit" class="playButton">
                <img src="/images/flash-cards.png" alt="" height="100px" width="100px">
            </button>
        </form>
    </div>
</div>
